

body {
    background-color: slategray;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#wrapper {
    margin-left: 40px;
    margin-right: 40px;
}

.card {
    margin-top: 10px;
}

#mainCarousel {
    height: 400;
}

.card-image-top {
    height: 200px;
}

.image{
    margin: auto;
}

.jumbotron {
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    font-size: 1.2em;
}

#header {
    border-bottom: solid black 2px;
    background-color: blueviolet;
    text-align: right;
}

.carousel-caption {
    background-color: rgba(80, 80, 120, .8);
    color: black;
    font-size: 1.1rem
}

.card-text{
    font-size: 17px;
}

h4{
    color: slategray;
}